<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>법률 모음집</title>
        <link href="/static/wiki.css" rel="stylesheet">
        <script src="/static/jquery-1.4.2.min.js"></script>

        <script type="text/javascript">
            function doSearch(obj){
                
                    if(pKeyword.value == "" || pKeyword.value == false){
                        alert("검색어를 입력해주세요.");
                        pKeyword.focus();
                        return false;
                    } else {
                        submit();
                    }                    
            }
            function movePage(pageNo){
                with (document.frmPage) {
                    pPage.value = pageNo;
                    pAct.value = "list";
                    submit();
                }
            }
        </script>
    </head>
    <body>
        <div id="popup_title_container">
            <div id="popup_title">법률용어 모음집</div>
            <div id="popup_close">
                <a href="#" onclick="window.close();">
                <img src="/images/css/img_btnPopClose.png" alt="창닫기">
                </a>
            </div>
        </div>
        <div class="popup_search_area">
            <div class="popup_search_line_north"></div>
            <div class="popup_search_contents">
                <div class="popup_search_form">
                    <form action="Lawwiki.html" method="get" onsubmit="return doSearch(this);">
                    <input type="text" class="search_text" name="pkeyword" value="">
                    <input type="image" src="/images/css/btn_serch.gif" alt="검색">
                    </form>
                </div>
                <div id="popup_search_index">
                    <ul class="inline">
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=-1">
                                <img src="https://raw.githubusercontent.com/park128/law-wiki/main/images/css/hangul_all.gif" alt="전체">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=0">
                                <img src="/images/css/hangul_01.gif" alt="ㄱ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=1">
                                <img src="/images/css/hangul_02.gif" alt="ㄴ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=2">
                                <img src="/images/css/hangul_03.gif" alt="ㄷ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=3">
                                <img src="/images/css/hangul_04.gif" alt="ㄹ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=4">
                                <img src="/images/css/hangul_05.gif" alt="ㅁ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=5">
                                <img src="/images/css/hangul_06.gif" alt="ㅂ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=6">
                                <img src="/images/css/hangul_07.gif" alt="ㅅ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=7">
                                <img src="/images/css/hangul_08.gif" alt="ㅇ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=8">
                                <img src="/images/css/hangul_09.gif" alt="ㅈ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=9">
                                <img src="/images/css/hangul_10.gif" alt="ㅊ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=10">
                                <img src="/images/css/hangul_11.gif" alt="ㅋ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=11">
                                <img src="/images/css/hangul_12.gif" alt="ㅌ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=12">
                                <img src="/images/css/hangul_13.gif" alt="ㅍ">
                            </a>
                        </li>
                        <li>
                            <a href="Lawwiki.html?pHangulPrefix=13">
                                <img src="/images/css/hangul_14.gif" alt="ㅎ">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="popup_search_line_south"></div>
        </div>
        <div id="popup_contents_container">
            <div id="popup_search_result">
                <div id="search_contents">
                    <div class="popup_title_blue">
                        검색내용
                    </div>
    
                    <div id="search_contents_area">
                        <ul id="search_contents_list">
                            
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=7189" target="word_description_area">가감적 신분</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=1" target="word_description_area">가격배상</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=2" target="word_description_area">가격시점</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=4" target="word_description_area">가공</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=5" target="word_description_area">가공인입선</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=7" target="word_description_area">가금가공품</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=8" target="word_description_area">가금처리품</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=7190" target="word_description_area">가납재판</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=9" target="word_description_area">가동설비자산</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=10" target="word_description_area">가등기</a></li>
                                
                                <li><a href="Lawwiki.html?pAct=view&pLawwikiNo=7191" target="word_description_area">가등기담보</a></li>
                                
                            
                            
                        </ul>
                        
                    <div id="search_contents_paging" class="paging">
                        <div class='paging_old'>
                            <span class='paging_old_pages'><strong>1</strong><a href="javascript:movePage('2');">2</a><a href="javascript:movePage('3');">3</a></span><span class="paging_button"><a href="javascript:movePage('4');"><img src='/images/css/btn_next.gif' alt='4페이지로 이동' /></a> </span>
                        </div>
                    </div>
                        
                </div>
            </div>
    
            <div id="word_description">
                <div class="popup_title_blue">
                    용어설명
                </div>
                
                <iframe id="word_description_area" name="word_description_area" frameborder="0" scrolling="yes"></iframe>
            </div> 
        </div>
        <form name="frmPage" method="post" action="/html/Lawwiki.html">
            <input type="hidden" name="pAct" />
            <input type="hidden" name="pPage" />
            <input type="hidden" name="pKeyword" value="" />
            <input type="hidden" name="pHangulPrefix" value="-1" />
        </form>
    </body>
    </html>